# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
/server
vendor/

# Node
node_modules/
dist/
.next/
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db
web/dist/
